
@inject FxUtil fxUtil
@inject IJSRuntime jsRuntime;

@implements Microsoft.AspNetCore.Components.IComponent
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Popups

@using System.Text.Json
@using FLBX.Components
@using FLBX.Models
@using System.Collections.Generic

@inject MessageService messageService
@using FLBX.Models


<FLBX.Components.FxFilterGroup>
    <div class="row">
        <FxDateRangePicker @ref="@filterDate" StartDate="@StartDate" EndDate="@EndDate"
                           MediumColSpanValue="3" Placeholder="Workorder 작업 시작 일자"
                           IsMandantory="true" DateTimeChanged="filterDate_ValueChanged"></FxDateRangePicker>
        <FxDropDown @ref="@filterProduct" DataSourceValue="@Products" MediumColSpanValue="3" Placeholder="제품" PopupHeight="500px"></FxDropDown>
        <FxDropDown @ref="@filterPo" MediumColSpanValue="3" Placeholder="Productorder"></FxDropDown>
        <FxTextBox @ref="@filterWoName" MediumColSpanValue="3" Placeholder="Workorder 이름 "> </FxTextBox>
    </div>
    <div class="row d-flex justify-content-end">
        <div class="p-2">
            <FLBX.Components.FxFilterButtons>
                <SfButton IsPrimary="true" OnClick="@GetWorkorders">조회</SfButton>
                <SfButton CssClass="e-danger" OnClick="@CreateLots">Lot생성 test</SfButton>
            </FLBX.Components.FxFilterButtons>

            <FxToast @ref="@toast" ToastTitle="Information" ToastTimeOut="3000" ToastContent="@ToastMessage"></FxToast>
        </div>
    </div>

</FLBX.Components.FxFilterGroup>

<FxDialog @ref="@dlgPop" PopupType="Constants.DialogType.Alert"></FxDialog>
<FxSpinner @ref="@fxSpinner"></FxSpinner>

<div class="row">
    <div class="col-lg-12 px-0">
        <div class="control_wrapper shadow mb-4" style="height: 620px;">
            <FxSplitContainer ContentsWidth="@(new string[]{"20%","10%","70%"})" SplitType="@FLBX.Constants.SplitContainerType.H3" cssClass="out-splitter py-3" width="100%" height="100%">

                <ChildContent1>
                    <SfGrid @ref="@gridWorkorder" DataSource="@Workorders" Height="400px" RowHeight="30" AllowExcelExport="true" AllowPaging="true" AllowReordering="true" AllowFiltering="true">
                        <GridEvents RowSelected="RowSelectedHandler" TValue="TempModel"></GridEvents>
                        <GridColumns>
                            <GridColumn Field="WORKORDERID" IsPrimaryKey="true" HeaderText="ID" AllowResizing="true">
                                <Template>
                                    @{
                                        var wo = (context as TempModel);
                                        <SfTooltip Target="#txt">
                                            <TooltipTemplates>
                                                <Content>
                                                    <div id="txt">Qty : @wo.QTY</div>
                                                    <div id="txt">Product : @wo.PRODUCTDEFINITIONID</div>
                                                    <div id="txt">PO : @wo.PRODUCTORDERID</div>
                                                    <div id="txt">Process : @wo.PROCESSDEFINITIONID</div>
                                                </Content>
                                            </TooltipTemplates>
                                            <span id="txt">@wo.WORKORDERID</span>
                                            <span id="txt"> (Name :@wo.WORKORDERNAME)</span>
                                        </SfTooltip>
                                    }
                                </Template>
                            </GridColumn>
                            @*<GridColumn Field="WORKORDERNAME" HeaderText="NAME" AutoFit="true"></GridColumn>
                                <GridColumn Field="QTY" HeaderText="QTY" AutoFit="true"></GridColumn>
                                <GridColumn Field="PRODUCTDEFINITIONID" HeaderText="PRODUCT" AutoFit="true"></GridColumn>
                                <GridColumn Field="PRODUCTORDERID" HeaderText="PO" AutoFit="true"></GridColumn>*@
                        </GridColumns>
                    </SfGrid>
                </ChildContent1>
                <ChildContent2>
                    <div class="p-2">
                        <SfTextBox Placeholder="WorkOrder" FloatLabelType="@FloatLabelType.Never" Value="@selectedWorkorderId" Readonly="true"></SfTextBox>
                    </div>
                    <div class="p-2">
                        <SfTextBox @ref="txtWorkorderQty" Placeholder="잔여Qty" Format="잔여Qty (###)" Value="@(selectedWorkorderQty.ToString())" Readonly="true"></SfTextBox>
                    </div>
                    <div class="p-2">
                        <SfNumericTextBox @ref="spinLotCount" Format="Lot개수 (###)" TValue="double?" Value=10></SfNumericTextBox>
                    </div>
                    <div class="p-2">
                        <SfNumericTextBox @ref="spinLotQty" Format="Lot별Qty (###)" TValue="double?" Value=10></SfNumericTextBox>
                    </div>
                    <div class="p-2">
                        <SfTextBox Placeholder="Prefix Keyword:" FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                    </div>
                    <div class="p-2">
                        <SfTextBox @ref="txtRemark" Placeholder="Remark:" FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                    </div>
                    <div class="p-2">
                        <SfTextBox @ref="txtDesc" Placeholder="Discription:" FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                    </div>
                    <div class="p-2">
                        <SfButton IsPrimary="true" OnClick="@TemporaryCreateLot">Lot임시 생성</SfButton>
                    </div>
                </ChildContent2>
                <ChildContent3>
                    <SfGrid @ref="gridLot" DataSource="@Lots" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel","Search","Print","ExcelExport" })" AllowPaging="true" AllowExcelExport="true">
                        <GridEvents DataBound="gridLot_DataBound" TValue="Lot"></GridEvents>
                        <GridEditSettings ShowDeleteConfirmDialog="true" AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowNextRowEdit="true" AllowEditOnDblClick="false" Mode="EditMode.Normal"></GridEditSettings>
                        <GridSelectionSettings CheckboxOnly="true"></GridSelectionSettings>
                        <GridColumns>
                            <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(Lot.Id) IsPrimaryKey="true" ValidationRules="@(new ValidationRules{ Required=true, MinLength=8 })" HeaderText="LotId" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(Lot.Name) HeaderText="이름" TextAlign="TextAlign.Right" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(Lot.Qty) HeaderText="수량" EditType="EditType.NumericEdit" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(Lot.Segment) HeaderText="공정" EditType="EditType.DropDownEdit" Width="80">
                                <EditTemplate>
                                    <SfDropDownList ID="Segment" @bind-Value="@((context as Lot).Segment)" Placeholder="Process Segments.." TItem="Lot" TValue="string" DataSource="@Segments">
                                        <DropDownListFieldSettings Value="Segment" Text="Segment"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </EditTemplate>
                            </GridColumn>
                            <GridColumn Field=@nameof(Lot.Equitment) HeaderText="설비" EditType="EditType.DropDownEdit" Width="80">
                                @*<EditTemplate>
                                    <SfDropDownList ID="Equipment" @bind-Value="@((context as DropDownModel).Name)" Placeholder="Process Segments.." TItem="DropDownModel" TValue="string" DataSource="@Equipments">
                                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </EditTemplate>*@
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ChildContent3>
            </FxSplitContainer>
        </div>
    </div>
</div>


@code {


    #region Components

    FxDateRangePicker filterDate;
    FxDropDown filterProduct;
    FxDropDown filterPo;
    FxTextBox filterWoName;
    SfTextBox txtWorkorderQty;
    SfNumericTextBox<double?> spinLotCount;
    SfNumericTextBox<double?> spinLotQty;
    FxToast toast;
    SfGrid<TempModel> gridWorkorder;
    SfGrid<Lot> gridLot;
    FxDialog dlgPop;
    FxSpinner fxSpinner;
    SfTextBox txtRemark;
    SfTextBox txtDesc;

    #endregion

    DateTime StartDate = DateTime.Now.AddDays(-7);
    DateTime EndDate = DateTime.Now;

    static List<DropDownModel> Products { get; set; } = new List<DropDownModel>();
    static List<Lot> Segments { get; set; }
    static List<Lot> Equipments { get; set; }

    List<TempModel> Workorders { get; set; }
    List<Lot> Lots { get; set; } = new List<Lot>();

    public string ToastMessage { get; set; }

    public string selectedWorkorderId { get; set; }
    public float selectedWorkorderQty { get; set; }

    void Attach(RenderHandle renderHandle) { }

    async Task SetParametersAsync(ParameterView parameters) { }


    #region Intialize
    protected override void OnInitialized()
    {
        base.OnInitialized();

        //Workorder 생산 시작일 필터
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        base.OnAfterRenderAsync(firstRender);

        //filter 초기값 입력
        if (firstRender)
        {
            await GetSegmentInfo();
            await GetEquipmentInfo();

            //this.filterProduct.sfDropDownList.AddItem(Products);
        }
    }
    #endregion

    #region Events
    async Task gridLot_DataBound(object args)
    {
        await CalculateRemainWorkorderQty();
    }

    async Task filterDate_ValueChanged(RangeEventArgs args)
    {
        await GetProductInfo();
    }

    async Task RowSelectedHandler(RowSelectEventArgs<TempModel> arg)
    {
        selectedWorkorderId = arg.Data.WORKORDERID;
        selectedWorkorderQty = arg.Data.QTY;

        await GetLotInfo(selectedWorkorderId);
    }

    #endregion

    #region Functions
    private async Task CalculateRemainWorkorderQty()
    {
        var sum = Lots.Sum(r => r.Qty);
        var originalQty = Workorders.Where(r => r.WORKORDERID == selectedWorkorderId).FirstOrDefault().QTY;
        var calculatedQty = originalQty - sum;
        selectedWorkorderQty = (float)calculatedQty;
    }
    private async Task GetWorkorders(MouseEventArgs arg)
    {

        //Parmeter 생성
        Dictionary<string, object> param = new Dictionary<string, object>();
        param.Add("from", filterDate.sfDateRangePicker.StartDate.Value.ToString("yyyy-MM-dd"));
        param.Add("to", filterDate.sfDateRangePicker.EndDate.Value.ToString("yyyy-MM-dd"));
        param.Add("product", filterProduct.sfDropDownList.Value);



        //Query Message 생성
        QueryMessage queryMessage = new QueryMessage()
        {
            QueryId = "GetWorkorder",
            QueryType = "Inquiry",
            QueryVersion = "001",
            SiteId = "A_10",
            //ParameterKeyValue = new Dictionary<string, object>() { { "from", "2020-11-01 06:00:00" }, { "to", "2020-11-02 06:00:00" } }
            ParameterKeyValue = param
        };

        FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMessage, null, null);

        //Message Send
        var task = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
        await Task.WhenAll(task);
        ReplyMessage reply = task.Result;

        //Reply Message Binding
        Workorders = JsonSerializer.Deserialize<List<TempModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));

        string msg = $"[{Workorders.Count()}] 건의 Workorder 정보가 조회 되었습니다. : {param["product"].ToString()}";
        var toastModel = new ToastModel { Title = "Information!", Content = msg, CssClass = "e-toast-info", Icon = "e-info toast-icons" };
        toast.fxToast.Show(toastModel);
    }
    private async Task GetProductInfo()
    {
        Products.Clear();

        Dictionary<string, object> param = new Dictionary<string, object>();
        param.Add("from", filterDate.sfDateRangePicker.StartDate.Value.ToString("yyyy-MM-dd"));
        param.Add("to", filterDate.sfDateRangePicker.EndDate.Value.ToString("yyyy-MM-dd"));

        //Query Message 생성
        QueryMessage queryMessage = new QueryMessage()
        {
            QueryId = "GetProduct",
            QueryType = "Filter",
            QueryVersion = "001",
            SiteId = "A_10",
            ParameterKeyValue = param

        };

        FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMessage, null, null);

        //Message Send
        var task1 = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
        await Task.WhenAll(task1);
        ReplyMessage reply = task1.Result;

        //Reply Message Binding
        Products = JsonSerializer.Deserialize<List<DropDownModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));
    }

    private async Task GetSegmentInfo()
    {
        //Query Message 생성
        QueryMessage queryMessage = new QueryMessage()
        {
            QueryId = "GetProcessSegment",
            QueryType = "Filter",
            QueryVersion = "001",
            SiteId = "A_10",
            ParameterKeyValue = new Dictionary<string, object>()

        };

        FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMessage, null, null);

        //Message Send
        var task1 = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
        await Task.WhenAll(task1);
        ReplyMessage reply = task1.Result;

        //Reply Message Binding
        IEnumerable<DropDownModel> ddm = JsonSerializer.Deserialize<IEnumerable<DropDownModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));

        Segments = new List<Lot>();
        foreach (var segment in ddm)
        {
            Lot segmentLot = new Lot();
            segmentLot.Segment = segment.Id;
            Segments.Add(segmentLot);
        }
    }

    private async Task GetEquipmentInfo()
    {
        //Query Message 생성
        QueryMessage queryMessage = new QueryMessage()
        {
            QueryId = "GetEquipment",
            QueryType = "Filter",
            QueryVersion = "001",
            SiteId = "A_10",
            ParameterKeyValue = new Dictionary<string, object>()

        };

        FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMessage, null, null);

        //Message Send
        var task1 = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
        await Task.WhenAll(task1);
        ReplyMessage reply = task1.Result;

        //Reply Message Binding
        //Equipments = JsonSerializer.Deserialize<IEnumerable<DropDownModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));
    }

    private async Task GetLotInfo(string workorderId)
    {
        Dictionary<string, object> param = new Dictionary<string, object>();
        param.Add("workorder", workorderId);
        param.Add("lotid", "");
        param.Add("lotname", "");

        //Query Message 생성
        QueryMessage queryMessage = new QueryMessage()
        {
            QueryId = "GetLot",
            QueryType = "Inquiry",
            QueryVersion = "001",
            SiteId = "A_10",
            ParameterKeyValue = param

        };

        FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMessage, null, null);

        //Message Send
        var task1 = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
        await Task.WhenAll(task1);
        ReplyMessage reply = task1.Result;

        //Reply Message Binding
        Lots = JsonSerializer.Deserialize<List<Lot>>(Convert.ToString(reply.ResultKeyValues["reply"]));
    }
    async Task TemporaryCreateLot(MouseEventArgs arg)
    {


        int count = Convert.ToInt32(spinLotCount.Value);
        int qty = Convert.ToInt32(spinLotQty.Value);

        var selectedWorkorder = Workorders.Where(r => r.WORKORDERID == selectedWorkorderId).FirstOrDefault();
        for (int i = 0; i < count; i++)
        {

            Lot newLot = new Lot();
            newLot.Id = Guid.NewGuid().ToString().Substring(0, 9);
            newLot.Name = newLot.Id.Substring(0, 4) + i.ToString();
            newLot.Qty = qty;
            newLot.WorkorderId = selectedWorkorderId.Trim();
            newLot.ProcessDefinitionId = selectedWorkorder.PROCESSDEFINITIONID;
            newLot.ProductDefinitionId = selectedWorkorder.PRODUCTDEFINITIONID;
            newLot.Remark = txtRemark.Value;
            newLot.Description = txtRemark.Value;


            Lots.Add(newLot);
        }

        await CalculateRemainWorkorderQty();
        gridLot.Refresh();
    }

    async Task CreateLots(MouseEventArgs arg)
    {
        await fxSpinner.Show();
        await Task.Delay(2000);

        try
        {
            //Parmeter 생성

            List<Lot> selectedLot = gridLot.GetSelectedRecords().Result;

            Dictionary<string, object> param = new Dictionary<string, object>();
            param.Add("lot", selectedLot);

            RuleMessage ruleMessage = new RuleMessage()
            {
                RuleName = "CreateLot",
                ParmeterKeyValues = param
            };

            FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, null, ruleMessage, null);

            //Message Send
            var task = messageService.SendMessageAsync("Product", "/api/CreateLot/CreateLot", messageSet);
            await Task.WhenAll(task);
            ReplyMessage reply = task.Result;

            //Reply Message Binding
            string replyMessage = Convert.ToString(reply.ResultKeyValues["reply"]);

            var msg = $"요청하신 Lot이 생성 되었습니다. ({Convert.ToInt32(replyMessage) / 2}) ea ";

            await fxSpinner.Show();
            dlgPop.Show("Information", msg);

            //Lot Grid 초기화
            await Initialize_gridLot();

        }
        catch (Exception ex)
        {
            dlgPop.Show("Error", ex.Message);
        }
        finally
        {
            await fxSpinner.Hide();
        }
    }

    public async Task Initialize_gridLot()
    {
        await gridWorkorder.ClearFiltering();
        Lots.Clear();
        gridLot.Refresh();
        await GetLotInfo(selectedWorkorderId);
    }

    public async Task InitializePage()
    {
        Workorders.Clear();
        Lots.Clear();
        gridLot.Refresh();
        gridWorkorder.Refresh();
        await GetProductInfo();
    }
    #endregion








    /// <summary>
    /// GetWorkorder
    /// </summary>
    /// <param name="arg"></param>
    /// <returns></returns>






    class TempModel
    {
        public string WORKORDERID { get; set; }
        public string WORKORDERNAME { get; set; }
        public float QTY { get; set; }
        public string PRODUCTDEFINITIONID { get; set; }
        public string PRODUCTORDERID { get; set; }
        public string PROCESSDEFINITIONID { get; set; }

    }

}
