@implements Microsoft.AspNetCore.Components.IComponent
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Layouts
@using FLBX.Components
@using FLBX.Models
@using System.Text.Json
@inject FxUtil fxUtil
@inject MessageService messageService
@*@inherits M0001*@
@*TOP Menu  *@


<FLBX.Components.FxFilterGroup>

    <div class="row">
        <FxDateTimePicker @ref="filterFrom" DateFormat="'From : 'yyyy-MM-dd hh:mm:ss"  MediumColSpanValue="3" Placeholder="생산시작일"></FxDateTimePicker>
        <FxDateTimePicker @ref="filterTo" DateFormat="'To : 'yyyy-MM-dd hh:mm:ss"  MediumColSpanValue="3" Placeholder="생산종료일"></FxDateTimePicker>
        <FxTextBox @ref="filterLotId" MediumColSpanValue="3" Placeholder="Lot Id검색:"></FxTextBox>
        <FxTextBox @ref="filterLotName" MediumColSpanValue="3" Placeholder="Lot이름검색:"></FxTextBox>
        @*<SfTextBox Placeholder="Lot Id검색" FloatLabelType="@FloatLabelType.Never"  @bind-Value="@LotId"/>
        <SfTextBox Placeholder="Lot 이름검색" FloatLabelType="@FloatLabelType.Never" @bind-Value="@LotName"/>*@
    </div>

    <div class="row d-flex justify-content-end">
        <div class="p-2">
            <FLBX.Components.FxFilterButtons>
                <SfButton @ref="btnQuery" OnClick="@btnQuery_OnClickAsync" IsPrimary="true">조회</SfButton>
            </FLBX.Components.FxFilterButtons>
        </div>
    </div>

</FLBX.Components.FxFilterGroup>
    @*TOP Menu -End- *@


    @*Main  Content *@
    <div class="row">
        <div class="col-lg-12 px-0">
            <div class="control_wrapper shadow mb-4" style="height: 615px;">

                <FxSplitContainer ContentsWidth="@(new string[]{"40%","60%"})" SplitType="@FLBX.Constants.SplitContainerType.H2" Title1="Lot Group by WorkOrder" Title2="Lot History"cssClass="out-splitter py-3" width="100%" height="100%">
                    <ChildContent1>
                        <SfGrid DataSource="@LotList"   AllowGrouping="true" AllowPaging="true" AllowTextWrap="true"  AllowResizing="true" AllowReordering="true" AllowFiltering="true" AllowSelection="true">
                            <GridGroupSettings @ref="gridGroup" Columns="@GroupedColumns" ></GridGroupSettings>
                            <GridEvents RowSelected="RowSelectHander" TValue="TempLotModel"></GridEvents>
                            <GridColumns>
                                <GridColumn Field="LOTID" IsPrimaryKey="true"HeaderText="LOT ID" TextAlign="TextAlign.Left" Width="100"></GridColumn>
                                <GridColumn Field="WORKORDERID" IsPrimaryKey="true" HeaderText="WORKORDER ID" Width="100"></GridColumn>
                                <GridColumn Field="PRODUCTDEFINITIONID" HeaderText="PRODUCT ID" Width="80"></GridColumn>
                               
                            </GridColumns>
                        </SfGrid>
                    </ChildContent1>
                  
                    <ChildContent2>
                        <SfGrid DataSource="@LotHist"  AllowPaging="true" AllowTextWrap="true" AllowResizing="true" AllowReordering="true" AllowFiltering="true">
                            <GridColumns>
                                <GridColumn Field="LOTID" IsPrimaryKey="true" HeaderText="Lot Id" Width="100"></GridColumn>
                                <GridColumn Field="LOTNAME" HeaderText="Lot Name" TextAlign="TextAlign.Right" Width="50"></GridColumn>
                                <GridColumn Field="STATE" HeaderText="State" Width="50"></GridColumn>
                                <GridColumn Field="QTY" HeaderText="Qty" Width="50"></GridColumn>
                                <GridColumn Field="PROCESSSEGMENTID" HeaderText="Segment" Width="80"></GridColumn>
                                <GridColumn Field="MODIFYTIME" HeaderText="Modify Time" Width="80"></GridColumn>
                                <GridColumn Field="EQUIPMENTID" HeaderText="Equitment Id" Width="80"></GridColumn>
                                <GridColumn Field="EQUIPMENTName" HeaderText="Equitment Name" Width="80"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </ChildContent2>                                             
                </FxSplitContainer>
            </div>
        </div>
    </div>

    @*Main  Content End *@

    @code {

        GridGroupSettings gridGroup;

        //public DateTime? DateValueFrom { get; set; }
        //public DateTime? DateValueTo { get; set; }

        FxDateTimePicker filterFrom;
        FxDateTimePicker filterTo;
        FxTextBox filterLotId;
        FxTextBox filterLotName;


        void Attach(RenderHandle renderHandle) { }
        List<TempLotModel> LotList { get; set; } = new List<TempLotModel>();
        List<TempLotHistModel> LotHist { get; set; } = new List<TempLotHistModel>();
        public SfButton btnQuery;

        public string[] GroupedColumns = new string[] { "WORKORDERID" };
        [Parameter]
        public DateTime? From { get; set; }
        [Parameter]
        public DateTime? To { get; set; }
        [Parameter]
        public string LotId { get; set; } = "";
        [Parameter]
        public string LotName { get; set; } = "";

        protected override void OnInitialized()
        {
            //GridData = WorkOrderDetails.GetAllRecords();
            //GridDataLot = Lot.GetAllRecords();

        }
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {

            base.OnAfterRenderAsync(firstRender);

            //filter 초기값 입력
            if (firstRender)
            {

                this.filterFrom.sfDateTimePicker.Value= DateTime.Now.AddDays(-14);
                this.filterTo.sfDateTimePicker.Value = DateTime.Now;

                StateHasChanged();
            }
        }



        public async Task btnQuery_OnClickAsync()
        {
            //Parmeter 생성
            Dictionary<string, object> param = new Dictionary<string, object>();
            param.Add("from", filterFrom.sfDateTimePicker.Value?.ToString("yyyy-MM-dd hh:mm:ss"));
            param.Add("to", filterTo.sfDateTimePicker.Value?.ToString("yyyy-MM-dd hh:mm:ss"));
            var lotid = filterLotId.fxTextBox.Value;
            var lotname = filterLotName.fxTextBox.Value;
            if (String.IsNullOrEmpty(lotid))
                lotid = " ";
            param.Add("lotid", lotid);
            if (String.IsNullOrEmpty(lotname))
                lotname = " ";
            param.Add("lotname", lotname);
            //Query Message 생성
            QueryMessage queryMeasage = new QueryMessage()
            {
                QueryId = "GetLotHistory",
                QueryType = "Inquiry",
                QueryVersion = "001",
                SiteId = "A_10",
                ParameterKeyValue = param
            };

            FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMeasage, null, null);

            //Message Send
            var task = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
            await Task.WhenAll(task);
            ReplyMessage reply = task.Result;

            //Reply Message Binding
            this.LotList = JsonSerializer.Deserialize<List<TempLotModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));
        }

        private async Task RowSelectHander(RowSelectEventArgs<TempLotModel> args)
        {
            //Todo lothisttory query
            //Query Message 생성
            QueryMessage queryMeasage = new QueryMessage()
            {
                QueryId = "GetLotHistoryDetail",
                QueryType = "Inquiry",
                QueryVersion = "001",
                SiteId = "A_10",
                ParameterKeyValue = new Dictionary<string, object>() { { "lotid", args.Data.LOTID } }
            };

            FLMessageSet messageSet = messageService.CreateMessageSet(MeesageType.Query, queryMeasage, null, null);

            //Message Send
            var task = messageService.SendMessageAsync("Product", "/query/executequery", messageSet);
            await Task.WhenAll(task);
            ReplyMessage reply = task.Result;

            //Reply Message Binding
            this.LotHist = JsonSerializer.Deserialize<List<TempLotHistModel>>(Convert.ToString(reply.ResultKeyValues["reply"]));
        }
        class TempLotModel
        {
            public string WORKORDERID { get; set; }
            public string LOTID { get; set; }
            public string PRODUCTDEFINITIONID { get; set; }


        }
        class TempLotHistModel
        {
            public string LOTID { get; set; }
            public string LOTNAME { get; set; }
            public string STATE { get; set; }
            public float? QTY { get; set; }
            public string PROCESSSEGMENTID { get; set; }
            public DateTime MODIFYTIME { get; set; }
            public string EQUIPMENTID { get; set; }
            public string EQUIPMENTNAME { get; set; }

        }

    }
